#partners-2 {
    width: 100%;
    margin: 0;
}

.sectionTitle {
    text-align: center;
}

.sectionTitle h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
}

@media screen and (max-width: 767px){
    .sectionTitle h2 {
        margin-bottom: 0;
        font-size: 32px;
    }
}

.partnersContainer, .partnersMediaContainer, .partnersCofinanceContainer, .partnersPartofContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.partnersLevel1, 
.partnersLevel2, 
.partnersLevel3, 
.partnersLevel4, 
.partnersLevel5 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    gap: 15px; */
    text-align: center;
}

.partnersMedia,
.partnersCofinance,
.partnersPartof {
    text-align: center;
}

.partnersLevel1 img,
.partnersLevel2 img,
.partnersLevel3 img,
.partnersLevel4 img,
.partnersLevel5 img {
    margin-left: 10px;
    margin-right: 10px;
}

.partnersLevel1 img {
    height: 250px;
    width: 250px;
}

.partnersLevel2 img {
    height: 175px;
    width: 175px;
}

@media screen and (max-width: 500px){
    .partnersLevel2 img {
        height: 150px;
        width: 150px;
    }
}

.partnersLevel3 img {
    height: 120px;
    width: 120px;
}

@media screen and (max-width: 500px){
    .partnersLevel3 img {
        height: 100px;
        width: 100px;
    }
}

.partnersLevel4 img {
    height: 100px;
    width: 100px;
}

.partnersLevel5 img {
    height: 80px;
    width: 80px;
}

.partnersMedia img {
    height: 250px;
    width: 250px;
}

.kissFMPartner {
    text-align: center;
}

.kissFMPartner img {
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 500px){
    .kissFMPartner img {
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 500px){
    .partnersMedia img {
        height: 150px;
        width: 150px;
    }
}

.partnersCofinance img {
    height: 250px;
    width: 250px;
}

.partnersPartof img {
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 500px){
    .partnersPartof img {
        height: 250px;
        width: 250px;
    }
}
